* {
    margin: 0;
    padding: 0;
    background-origin: border-box;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: white;
}


.container {
    width: 100%;
}

.janela1 {
    width: 100px;
    height: 100px;
    background-color: red;

}

.janela2 {
    width: 100px;
    height: 100px;
    background-color: green;

}